[Unit]
Description=Day Brightness Service (from camera/sun table)
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-brightness
User=root
Group=root
Environment=STATE_DIRECTORY=/var/lib/day-brightness
StateDirectory=day-brightness
StateDirectoryMode=0755
Nice=19
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target